{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Pirostagram</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'post/js/like_comment.js' %}"></script>
  </head>
  <body>
    <h1>Pirostagram</h1>
    <a href="{% url 'post_create' %}">✏️ 새 게시글 작성</a>
    {% for post in posts %}
    <div class="post" data-post-id="{{ post.id }}">
      <p>{{ post.content }}</p>
      <button class="like-btn">❤️ {{ post.liked_users.count }}</button>

      <div class="comments">
        {% for comment in post.comments.all %}
        <div class="comment" data-comment-id="{{ comment.id }}">
          <strong>{{ comment.user.username }}</strong>: {{ comment.text }} 
          {% if comment.user == user %}
          <button class="delete-comment-btn">삭제</button>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <input type="text" class="comment-input" placeholder="댓글 입력" />
      <button class="add-comment-btn">댓글 작성</button>
    </div>
    <hr />
    {% endfor %}
  </body>
</html>
