<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'main.css' %}" rel="stylesheet">
    <title>IdeaPage</title>
</head>
<body>
    <div id="header">
        <div id="PageName">MY IDEA PAGE</div>
        <ol>
            <li>
                아이디어 등록
            </li>
            <li>
                아이디어 관리   
            </li>
            <li>
                개발툴 관리 
            </li>
            <li>
                개발툴 등록
            </li>
        </ol>
    </div>
</body>

</html>